* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, #233329, #41b883);
}

.logo {
  width: 9rem;
  top: 2rem;
  left: 47%;
  position: absolute;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(95px, auto) repeat(5, 75px);
}

.grid-container > button {
  cursor: pointer;
  font-size: 1.7rem;
  border: none;
  outline: none;
  background-color: #111;
  color: #eee;
  transition: all 0.3s ease-in-out;
}

.grid-container > button:hover {
  background: #eee;
  color: #111;
}

.grid-container > .operator {
  background: #41b88375;
}

.span-two {
  grid-column: span 2;
}

.grid-container > .output {
  grid-column: 1 / -1;
  background: #222;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.grid-container > .output > .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

.grid-container > .output > .current-operand {
  font-size: 2.5rem;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #233329;
}

@media (max-width: 414px) {
  .logo {
    width: 8rem;
  }
} ;
