* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(to right, #233329, #41b883);
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #111;
  color: #eee;
}

.grid-container > button:hover {
  background: #eee;
  color: #111;
}

.grid-container > .operator {
  background: #41b88375;
}

.span-two {
  grid-column: span 2;
}

.grid-container > .output {
  grid-column: 1 / -1;
  background: #222;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.grid-container > .output > .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
}

.grid-container > .output > .current-operand {
  font-size: 2.5rem;
  color: white;
}

.footer {
  width: 100%;
  height: 6.5rem;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  color: #007fff;
  display: flex;
  position: absolute;
  box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.5);
}

footer .copy {
  margin-left: 7.5rem;
}

footer .powered {
  margin-top: -1rem;
  margin-left: 64.5rem;
}

footer .logo-footer {
  width: 9.3rem;
  height: 2rem;
  float: right;
  margin-left: 67rem;
  margin-top: -1.6rem;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #233329;
}

@media (max-width: 414px) {
  .footer {
    height: 5rem;
    font-size: 0.9rem;
  }

    .footer {
    height: 5rem;
    font-size: 0.9rem;
    bottom: 0;
    position: fixed;
  }

  footer .copy {
    margin-left: 1rem;
  }

  footer .logo-footer {
    width: 6rem;
    height: 1.4rem;
    margin-top: -1.2rem;
    margin-right: 1rem;
    margin-left: 19rem;
  }
} ;
